= content_for :page_title, 'Home'

.masthead.product-page-section
  .container
    .grid-row
      .column-two-thirds
        %h1.heading-xlarge An accurate list of countries you can trust
        %p Access authoritative open government country and territory data in one place, to use anywhere
        = link_to "View the data", locations_path, class: "button button-start"
      .column-one-third
        = image_tag "registers-illustration.png", alt: "Illustration of the cocept of registers"

.container
  .product-page-section
    .grid-row
      %h2.heading-large.section-header In a nutshell
      .column-one-third
        %h3.heading-small What is a register?
        %p Each register contains unique and reliable data that can be combined to power your service.
      .column-one-third
        %h3.heading-small How can I trust the data?
        %p A register is an official list of data provided by government organisations.
      .column-one-third
        %h3.heading-small Who manages the data?
        %p The register’s custodian can access the source of data and make sure it’s consistently updated.

  .product-page-section
    .grid-row
      .column-two-thirds
        %h2.heading-large Who manages the data?
        %blockquote
          The register is a means for the FCO to share our knowledge more widely - not least for our usual audience of subject matter experts, but also with other government partners and stakeholders. We can now think in more detail about what colleagues across government actually need.
        %p.bold-xsmall Tony Worron - Desk Officer for Geographical Information Policy, FCO
      .column-one-third
        = image_tag "1280px-Foreign_and_Commonwealth_Office_Logo.svg.png"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Location picker
        %p Our location picker is a combination of the #{link_to "Country", "https://country.register.gov.uk/"} and #{link_to "Territory", "https://territory.register.gov.uk/"} register. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        %p
          = link_to "Find more about our location picker", "#"
      .column-one-half
        = image_tag "picker.gif", alt: "A demo of how register data can work on a form"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Working with registers
        %p You can either download a copy of the register in full or any part of it, or use its read-only API to help you find a single record, entry or item. Or get all the records by choosing the format that suits you.
        %ul
          %li
            = link_to "Explore the data", "#"
          %li
            = link_to "Read the technical documentation", "#"
      .column-one-half
        = image_tag "video_mockup.png", alt: "Video to learn how to integrate registers in your service"

  .product-page-section
    .grid-row
      .column-full
        %h2.heading-large.section-header.centered Who's working with Registers
        %ul.org-logos
          %li= image_tag "Home_Office.svg"
          %li= image_tag "1280px-Foreign_and_Commonwealth_Office_Logo.svg.png"
          %li= image_tag "Department_for_Work_and_Pensions_logo.svg"
          %li= image_tag "Department_for_Education.svg"
          %li= image_tag "Ministry_of_Justice_logo.svg"
          %li= image_tag "Department_for_Communities_and_Local_Government_logo.svg"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Get in touch
        %p
          = link_to "Contact the team", "#"
          if you have any questions about using GOV.UK Registers or integrating it with your service.
        %p GOV.UK Registers is built and supported by a full time team at the Government Digital Service.
      .column-one-half
        = image_tag "registers-team.png", alt: "Video to learn how to integrate registers in your service"
