= content_for :page_title, 'Home'

.masthead.product-page-section
  .container
    .grid-row
      .column-two-thirds
        %h1.heading-xlarge An accurate list of locations you can trust
        %p Access authoritative open government country and territory data in one place, to use anywhere
        = link_to "View the data", locations_path, class: "button button-start"
      .column-one-third
        = image_tag "registers-illustration.png", alt: "Illustration of the cocept of registers"

.container
  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Using government data is challenging
        %ul.bulleted-list
          %li Government data is hard to find, use and share
          %li There are duplicates that lead to confusion
          %li The data sources are not reliable
      .column-one-half
        = image_tag "excel-screenshot.png", class: "image-with-border"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Location registers can solve these problems
        %ul.bulleted-list
          %li Lists of information available to everyone
          %li One single source of information provided by government organisations
          %li A stable solution that you can rely on for your service
      .column-one-half
        = image_tag "location-table-screenshot.png", class: "image-with-border"

  .product-page-section
    .grid-row
      .column-two-thirds
        %h2.heading-large Data provided by government organisations
        %blockquote
          The register is a means for the FCO to share our knowledge more widely, not least for our usual audience of subject matter experts, but also with other government partners and stakeholders. We can now think in more detail about what colleagues across government actually need
        %p.bold-xsmall Tony Worron - Desk Officer for Geographical Information Policy, FCO
      .column-one-third
        = image_tag "1280px-Foreign_and_Commonwealth_Office_Logo.svg.png"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Location picker
        %p We’ve built a location picker that uses the Country and Territory registers. With this picker, the users of your service will be able to provide information using authoritative and reliable data.
        %p
          = link_to "Find more about our location picker", "https://designnotes.blog.gov.uk/2017/04/20/were-building-an-autocomplete/", target: :blank
      .column-one-half
        = image_tag "picker.gif", alt: "A demo of how register data can work on a form", class: "image-with-border"

  .product-page-section
    .grid-row
      .column-full
        %h2.heading-large.section-header.centered Who's working with Registers
        %ul.org-logos
          %li= image_tag "Home_Office.svg"
          %li= image_tag "1280px-Foreign_and_Commonwealth_Office_Logo.svg.png"
          %li= image_tag "Department_for_Work_and_Pensions_logo.svg"
          %li= image_tag "Department_for_Education.svg"
          %li= image_tag "Ministry_of_Justice_logo.svg"
          %li= image_tag "Department_for_Communities_and_Local_Government_logo.svg"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Get in touch
        %p
          = link_to "Contact the team", "#"
          if you have any questions about using GOV.UK Registers or integrating it with your service.
        %p GOV.UK Registers is built and supported by a full time team at the Government Digital Service.
      .column-one-half
        = image_tag "registers-team.png", alt: "Video to learn how to integrate registers in your service"
