= content_for :page_title, 'Home'
= content_for :body_classes, 'home-page'

.masthead.product-page-section
  .container
    .grid-row
      .column-two-thirds
        %h1.heading-xlarge An accurate list of locations you can trust
        %p Access authoritative open government country and territory data in one place, to use anywhere
        = link_to "View the data", locations_path, class: "button button-start"
      .column-one-third
        = image_tag "registers-illustration.png", alt: "Illustration of the cocept of registers", class: "hide-for-small"

.container
  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Using government data is challenging
        %ul.bulleted-list
          %li Government data is hard to find, use and share
          %li There are duplicates that lead to confusion
          %li The data sources are not reliable
      .column-one-half
        = image_tag "excel-screenshot.png", class: "image-with-border"

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Location registers can solve these problems
        %ul.bulleted-list
          %li Lists of information available to everyone
          %li One single source of information provided by government organisations
          %li A stable solution that you can rely on for your service
      .column-one-half
        = image_tag "location-table-screenshot.png", class: "image-with-border"

  .product-page-section
    .grid-row
      %h2.heading-large.section-header Who is using Location registers
      .column-two-thirds
        %blockquote
          %p As a high profile site, #{link_to "https://petition.parliament.uk"} needs to be accurate and up-to-date wherever possible. So when we were given the chance to remove one more static set of data with an API we jumped at the chance. This is because having an authoritative list that updates automatically eliminates a huge amount of effort when validating data. We were able to identity a number of places where we had used the wrong country name previously.
          %cite Andrew White, UK Government and Parliamnent Petitions
        %p= link_to "Read the full case study", "#"
      .column-one-third
        = image_tag "petitions-logo.jpg", width: 250, class: "image-right";

  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Location data ready to use
        %p We’ve built a location picker that uses the #{link_to "Country", "https://country.register.gov.uk/", target: :blank} and #{link_to "Territory", "https://territory.register.gov.uk/", target: :blank} registers. With this picker, the users of your service will be able to provide information using authoritative and reliable data.
        %p
          = link_to "Find more about our location picker", "https://designnotes.blog.gov.uk/2017/04/20/were-building-an-autocomplete/", target: :blank
      .column-one-half
        = image_tag "picker.gif", alt: "A demo of how register data can work on a form", class: "image-with-border"

  .product-page-section
    .grid-row
      .column-full
        %h2.heading-large.section-header.centered Organisations creating Registers
        %ul.org-logos
          %li= image_tag "Home_Office.svg", class: "logo home-office"
          %li= image_tag "1280px-Foreign_and_Commonwealth_Office_Logo.svg.png", class: "logo fco"
          %li= image_tag "Department_for_Work_and_Pensions_logo.svg", class: "logo dwp"
          %li= image_tag "Department_for_Education.svg", class: "logo education"
          %li= image_tag "Ministry_of_Justice_logo.svg", class: "logo moj"
          %li= image_tag "Department_for_Communities_and_Local_Government_logo.svg", class: "logo local-government"


  .product-page-section
    .grid-row
      .column-one-half
        %h2.heading-large Get in touch
        %p
          = link_to "Contact the team", "https://registers.cloudapps.digital/support"
          if you have any questions about using GOV.UK Registers or integrating it with your service.
        %p GOV.UK Registers is built and supported by a full time team at the Government Digital Service.
      .column-one-half
        = image_tag "registers-team.png", alt: "Video to learn how to integrate registers in your service"
